#edit-view-all {
  margin-top: 0.7rem;
}

.form-item {
  width: 75% !important;
}

#content {
  padding-top: 0px;
}

#edit-view-all{
	background-color: #fcd450;
	border: none;
	font-size: 1.1em;
	margin-top: 1em;
	line-height: 150%;
	text-transform: uppercase;
	height: 42px;
	width:200px;
	padding:0px;
}

#edit-view-all:hover,
#edit-search-submit:hover{
	background-color: #000;
	color: #fcd450;
	cursor: pointer;
}

.form-item-search-keyword {
  display: flex !important;
}

#button-container{
	display: block;
}

#edit-search-keyword{
	text-align: center !important;
	margin: auto !important;
	margin-right: 0px !important;
	display: inherit !important;
	font-size: 1 em !important;
	text-transform: uppercase;
	line-height: 1.5em !important;
	width: 85% !important;
	height: 40px !important;
	float:left !important;
	padding:0 !important;
	border:1px solid #ccc !important;
}

#edit-search-submit{
	background-color: #fcd450;
	border: none;
	font-size: 1em;
	line-height: 170%;
	text-transform: uppercase;
	height: 42px;
	width: 110px;
	padding:0;
	float:left;
  margin-left: 0px;
}

#search-form-item {
  display:flex;
}

input[type=submit] {
  float: none;
  clear: none;
}
